@import '../../grid';

.empty-state-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    &__text {
        font-size: 12 * $grid-unit;
    }
}

